*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}
.cointainer {
    position: relative;
    top: 11vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 6vh;
    background-color:#ebebeb;
    font-family: 'Open Sans', sans-serif;
    color: #7d7d7d;
    font-size: 1.7vh;
}
@media (max-width: 900px){
.cointainer{
    display: none;
}
}
/*  STICKY NAVBAR         */

nav{
    -webkit-box-shadow:0px 0.5px 0.5px #d6d6d6;
 -moz-box-shadow:0px 0.5px 0.5px #d6d6d6;
 box-shadow:0px 0.5px 0.5px #d6d6d6;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    min-height: 11vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;     
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 2.3vh;
    color: #1a3b66;
}
.nav-links a:hover{color: #ff9c33;  transition: all 0.5s ease;}
.nav-links li{
    list-style: none;
   
}
.burger{
    display: none;
}
.burger div{
  width: 35px;
  height: 5px;
  background-color: #1a3b66;
  margin: 6px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 890px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 80vw;
    
    }
}

@media screen and (max-width: 850px){
    body {
        overflow-x: hidden;
        
 /*Tu sem dal da nena overflow zafuka */ 
    }
   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 89vh;
        top: 11vh;
        width: 100vw;
        background-color: #1a3b66;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a{
        color: white; 
        transition: all 0.2s;
    }
    .nav-links a:hover{
        font-size:3.3vh;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(0%);
    
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}
.toggle .line1{
transform: rotate(-45deg) translate(-15px,12px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-2px,-0.5px);
}

.slider-image{
  
width: 100%;
height: auto;

background-color: aqua;
background-image: url("slike/celovite_resitve.jpg");
background-repeat: no-repeat;
background-size: cover;
}

 #slider-image-naslov{
     position: static;
    padding-top: 41vh;
    padding-left: 10% ;
    font-family: Poppins;
    font-weight: 500;
    font-size: 8vh;
    color: white;
}

#pred-podnaslov{
    padding-left: 13%;
    padding-top: 2%;
    padding-bottom: 14%;
}

#slider-image-podnaslov{
     
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
    font-family: Poppins Light;
    font-weight: 100;
    font-size: 4.5vh;
    width: auto;
    color: white;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
     display: table-cell;
     cursor: pointer;
}

#slider-image-podnaslov:hover{
transition: ease-in .3s;
    border-color:#1a3b66;
     opacity: 0.8;
    color: white;
    border-width: 1px;
}


/*prava izbira     */
.prava-izbira{
    box-sizing:border-box;
}
.left-column{
   /* background-color: #1a3b66;*/
   display: flex;
   float:left;
    height: 89vh;
   
    align-items: center;
    justify-content: center;
    width:50%; /* The width is 20%, by default */
    text-align: center;
    
}
.right-column{
    display: flex;
    height: 89vh;
    float:right;
    align-items: center;
    justify-content: center;
    width:50%; /* The width is 20%, by default */
}
.inside-left-column{
 width: 70vh;
}


@media screen and (max-width:900px) {
    .left-column, .right-column {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
      height: 39.5vh;
      margin-top: 5vh;
    }
  }